Repository rakshaayanplatform/mvpi-regulatory-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vmtejus.sisail@gmail.com, @swathiga.sisail@gmail.com, @mausam.sisial@gmail.com, @vaishalibhosle.sisail@gmail.com

chore(ci): add optimized GitHub Actions workflow and team workflow guides
  .github/workflows/optimized-ci-cd.yml
  QUICK_REFERENCE.md
  TEAM_WORKFLOW_GUIDE.md
Owners: @vmtejus.sisail@gmail.com

fix: resolve lint errors across all services - Remove unused imports and fix whitespace issues - Fix line length violations - Clean up trailing whitespace - Ensure all services pass flake8 checks
  services/ai_service/main.py
  services/ai_service/routers/__init__.py
  services/ai_service/routers/medical_terms.py
  services/ai_service/routers/nlp.py
  services/ai_service/routers/ocr.py
  services/ai_service/routers/speech_to_text.py
  services/ai_service/tests/__init__.py
Owners: @swathiga.sisail@gmail.com

checked some linting errors in backend
  .github/workflows/ci-cd.yml
  services/auth_service/auth_service/models.py
  services/auth_service/auth_service/serializers.py
  services/auth_service/auth_service/settings.py
  services/auth_service/auth_service/views.py
  services/auth_service/models.py
  services/auth_service/serializers.py
  services/auth_service/settings.py
  services/auth_service/tests/__init__.py
  services/auth_service/views.py
  services/coordinator_service/coordinator_service/settings.py
  services/coordinator_service/tests/__init__.py
  services/gov_service/gov_service/settings.py
  services/gov_service/tests/__init__.py
  services/hospital_service/hospital_service/settings.py
  services/hospital_service/tests/__init__.py
  services/manufacturer_service/manufacturer_service/settings.py
  services/manufacturer_service/tests/__init__.py
  services/media_service/media_service/settings.py
  services/media_service/tests/__init__.py
  services/patient_service/patient_service/models.py
  services/patient_service/patient_service/settings.py
  services/patient_service/tests/__init__.py
Owners: @vmtejus.sisail@gmail.com

fix: resolve final lint error in coordinator_service - Break long line in AUTH_PASSWORD_VALIDATORS - All services now pass flake8 checks
  services/coordinator_service/coordinator_service/settings.py
Owners: @vmtejus.sisail@gmail.com

yet another try
  services/gov_service/gov_service/settings.py
  services/hospital_service/hospital_service/settings.py
  services/manufacturer_service/manufacturer_service/settings.py
  services/media_service/media_service/settings.py
  services/patient_service/patient_service/settings.py
Owners: @vmtejus.sisail@gmail.com

yet another tryy
  services/ai_service/requirements.txt
  services/auth_service/requirements.txt
  services/coordinator_service/requirements.txt
  services/gov_service/requirements.txt
  services/hospital_service/requirements.txt
  services/manufacturer_service/requirements.txt
  services/media_service/requirements.txt
  services/patient_service/requirements.txt
Owners: @swathiga.sisail@gmail.com, @vmtejus.sisail@gmail.com

Fix pytest test discovery in CI/CD
  .github/workflows/optimized-ci-cd.yml
Owners: @vmtejus.sisail@gmail.com

Fix pytest test discovery and create basic test files for all services
  .github/workflows/optimized-ci-cd.yml
Owners: @vmtejus.sisail@gmail.com

Fix all test files - simplify and ensure consistent working tests for all services
  .github/workflows/optimized-ci-cd.yml
Owners: @vmtejus.sisail@gmail.com

Fix .gitignore to include test files and add all test_main.py files for CI/CD
  .gitignore
  services/ai_service/tests/test_main.py
  services/auth_service/tests/test_main.py
  services/coordinator_service/tests/test_main.py
  services/gov_service/tests/test_main.py
  services/hospital_service/tests/test_main.py
  services/manufacturer_service/tests/test_main.py
  services/media_service/tests/test_main.py
  services/patient_service/tests/test_main.py
Owners: @vmtejus.sisail@gmail.com, @swathiga.sisail@gmail.com

Fix linting errors - remove unused pytest imports from test files
  services/ai_service/tests/test_main.py
  services/auth_service/tests/test_main.py
  services/coordinator_service/tests/test_main.py
  services/gov_service/tests/test_main.py
  services/hospital_service/tests/test_main.py
  services/manufacturer_service/tests/test_main.py
  services/media_service/tests/test_main.py
  services/patient_service/tests/test_main.py
Owners: @swathiga.sisail@gmail.com, @vmtejus.sisail@gmail.com

Fix Black formatting for all test files - remove extra blank lines
  services/auth_service/tests/test_main.py
  services/coordinator_service/tests/test_main.py
  services/gov_service/tests/test_main.py
  services/hospital_service/tests/test_main.py
  services/manufacturer_service/tests/test_main.py
  services/media_service/tests/test_main.py
  services/patient_service/tests/test_main.py
Owners: @vmtejus.sisail@gmail.com

Optimize CI/CD: Add shared_libs monitoring, move docs to docs/ folder, and improve change detection
  .github/workflows/optimized-ci-cd.yml
  docs/ADMIN_SETUP_CHECKLIST.md
  docs/BRANCH_STRATEGY_SUMMARY.md
  docs/DEVELOPER_GUIDELINES.md
  docs/DEVELOPER_SETUP.md
  docs/DEVELOPMENT_WORKFLOW.md
  docs/QUICK_REFERENCE.md
  docs/QUICK_START.md
  docs/SETUP_SUMMARY.md
  docs/TEAM_WORKFLOW_GUIDE.md
Owners: @vmtejus.sisail@gmail.com

Finalize CI/CD workflow with proper naming and comprehensive documentation
  .github/workflows/ci-cd.yml
  .github/workflows/optimized-ci-cd.yml
  docs/ADMIN_SETUP_CHECKLIST.md
  docs/BRANCH_STRATEGY_SUMMARY.md
  docs/CI_CD_WORKFLOW_OPTIMIZATION.md
  docs/COMPREHENSIVE_SETUP_GUIDE.md
  docs/COMPREHENSIVE_WORKFLOW_GUIDE.md
  docs/DEVELOPER_GUIDELINES.md
  docs/DEVELOPER_SETUP.md
  docs/DEVELOPMENT_WORKFLOW.md
  docs/QUICK_REFERENCE.md
  docs/QUICK_START.md
  docs/SETUP_SUMMARY.md
  docs/TEAM_WORKFLOW_GUIDE.md
Owners: @vmtejus.sisail@gmail.com

Fix CodeQL Action deprecation warning - update to v3
  .github/workflows/ci-cd.yml
Owners: @vmtejus.sisail@gmail.com

Restore optimized CI/CD workflow with proper timeout settings
  .github/workflows/ci-cd.yml
Owners: @vmtejus.sisail@gmail.com

Optimize media_service Dockerfile to reduce build time
  services/media_service/Dockerfile
Owners: @vmtejus.sisail@gmail.com

Increase Docker build timeouts to prevent cancellation errors
  .github/workflows/ci-cd.yml
Owners: @vmtejus.sisail@gmail.com

Fix AI service build timeout - optimize Dockerfile and increase CI timeout to 45 minutes
  .github/workflows/ci-cd.yml
  services/ai_service/Dockerfile
  services/ai_service/requirements.txt
Owners: @vmtejus.sisail@gmail.com, @swathiga.sisail@gmail.com

Updated Design System Guidelines
  COMPONENTS_PAGE_README_FOR_DESIGNER.md
  DESIGN_SYSTEM_STYLES_README.md
  MvPI Project Proposal to KSIT.docx
  MvPI Project Proposal to KSIT.pdf
  figma exports/404 Error.png
  figma exports/Contact.png
  figma exports/Dashboard Preview 2.png
  figma exports/Desktop - 10.png
  figma exports/Desktop - 11.png
  figma exports/Desktop - 12.png
  figma exports/Desktop - 13.png
  figma exports/Desktop - 14.png
  figma exports/Desktop - 15.svg
  figma exports/General Login.png
  figma exports/Healthcare Professional Login@2x.png
  figma exports/Help.png
  figma exports/Landing.png
  figma exports/Login@2x.png
  figma exports/Maintenance.png
  figma exports/Patient Login@2x.png
  figma exports/Register- Patient.png
  figma exports/Register.png
  figma exports/Reviewers.png
  figma exports/Vendors.png
  figma exports/global-notification.png
  figma exports/patient dashboard.png
  figma exports/report adverse event.png
  figma exports/reports.png
  figma exports/seend notice.png
Owners: @vmtejus.sisail@gmail.com

.github/CODEOWNERS:

# Global owners
* @vmtejus.sisail@gmail.com

# Backend services
/services/auth_service/ @vmtejus.sisail@gmail.com
/services/patient_service/ @vmtejus.sisail@gmail.com
/services/hospital_service/ @vmtejus.sisail@gmail.com
/services/manufacturer_service/ @vmtejus.sisail@gmail.com
/services/gov_service/ @vmtejus.sisail@gmail.com
/services/coordinator_service/ @vmtejus.sisail@gmail.com
/services/media_service/ @vmtejus.sisail@gmail.com

# AI Service
/services/ai_service/ @swathiga.sisail@gmail.com

# Frontend
/frontend/ @mausam.sisial@gmail.com

# Infrastructure
/infrastructure/ @vmtejus.sisail@gmail.com

# Documentation
/documentation/ @vaishalibhosle.sisail@gmail.com
